[submodule "make"]
	path = make
	url = https://github.com/umakefile/make.git
	ignore = dirty
	ignore = dirty
[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest.git
	ignore = dirty
